body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

img {
  max-width: 200px;
  margin-bottom: 20px;
}

.review {
  margin-bottom: 10px;
  border-left: 5px solid #ccc;
  padding-left: 10px;
}

.social-media {
  list-style: none;
  padding: 0;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media a {
  color: #333;
  text-decoration: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.media {
  display: flex;
  justify-content:left;
  vertical-align: middle;
}

.socmed {
    cursor: pointer;
    font-size: 1.5em;
	  text-align: left;
    vertical-align: middle;
    margin-bottom: 0.4rem;
	  margin-top: 0.3rem;
}

.book {
  cursor: pointer;
}

.logo {
  cursor: pointer;
  max-width: 35px; 
  margin-right: 10px;
}

.title1 {
  margin-top: -2rem;
  margin-bottom: -1.25rem;
}

.title2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  text-align: justify;
}

.comment {
  text-align: left;
  margin-top: -0.7em;
  font-style: italic;
  font-weight: normal;
}

.icon {
  display: flex;
	height: 8rem;
  margin-left: 0.85em;
  margin-right: 0.25em;
  border-radius: 6rem;
}

.photo {
  cursor: pointer;
  display: flex;
}

/* SITE-DOWN */

.site-down {
	font-weight: normal;
	gap: 1.75rem;
	margin-bottom: 0.5rem;
	margin-top: 0.75rem;
}

.downtime {
	text-align: center;
	display: block;
	justify-content: center;
}

.downtime-pic {
	border-radius: 1rem;
}